{% extends 'layout.html' %}
{% block content %}
<h1>Select Beer</h1>
<form method="POST">
  {{form.csrf_token}}
  <p>{{form.beer_sel.label}}<br>{{form.beer_sel()}}</p>
  <p>{{form.submit}}</p>
</form>
{% if form.errors %}
{{ form.errors }}
{% endif %}
{% endblock %}