{% extends 'layout.html' %}
{% block content %}
<p>Beer: {{beer_name}}</p>
<p>Servings:
<table>
<tr>
<td>Bar Name</td>
<td>Bar Address</td>
<td>Price</td>
</tr>
{% for serve, bar in data %}
<tr>
	<td>{{serve.bar}}</td>
	<td>{{bar.address}}</td>
	<td>{{serve.price}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
